.projects-container {
    padding: 20px;
    text-align: center;
    background-color: #1c1c1c;
    height: 100vh;
  }
  
  .projects-heading {
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
  }
  
  .projects-grid {
    display: flex;
   
    justify-content: center;
    padding-right: 40px;
  }
  
  .project {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 40px;
    padding: 40px;
    width: 350px; /* Adjust as needed */
    text-align: center;
    color: maroon;
    background-color: #f9f9f9; /* Light background for projects */
  }
  
  .project-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .live-demo-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #1a73e8; /* Change to fit your theme */
    font-weight: bold;
  }
  